{% extends 'base.html.twig' %}

{% block title %}{{ team.name }} - Modification{% endblock %}

{% block body %}
    <h1>{{ team.name }} - Modification</h1>

    {{ include('team/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_team_index') }}" class="btn btn-secondary">Retour à la liste</a>
    {% endif %}

    {{ include('team/_delete_form.html.twig') }}
{% endblock %}
