{% extends 'base.html.twig' %}

{% block title %}Liste des équipes{% endblock %}

{% block body %}
    <h1>Liste des équipes</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Position</th>
                <th>Énigme actuelle</th>
                <th>Note</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.position }}</td>
                <td>{{ team.currentEnigma }}</td>
                <td>{{ team.note }}</td>
                <td>
                    <a href="{{ path('app_team_show', {'id': team.id}) }}" class="text-primary">Afficher</a>
                    <a href="{{ path('app_team_edit', {'id': team.id}) }}" class="text-secondary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucune équipe trouvée...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_team_new') }}" class="btn btn-primary">Nouvelle équipe</a>
{% endblock %}
