{% extends 'base.html.twig' %}

{% block title %}Image n°{{ thumbnail.id }} - Modification{% endblock %}

{% block body %}
    <h1>Modification de l'image n°{{ thumbnail.id }}</h1>

    {{ include('thumbnail/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_thumbnail_index') }}" class="btn btn-secondary">Retour</a>

    {{ include('thumbnail/_delete_form.html.twig') }}
{% endblock %}
