{% extends 'base.html.twig' %}

{% block title %}Thumbnail index{% endblock %}

{% block body %}
    <h1>Thumbnail index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Information</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for thumbnail in thumbnails %}
            <tr>
                <td>{{ thumbnail.id }}</td>
                <td>{{ thumbnail.image }}</td>
                <td>{{ thumbnail.information }}</td>
                <td>
                    <a href="{{ path('app_thumbnail_show', {'id': thumbnail.id}) }}">show</a>
                    <a href="{{ path('app_thumbnail_edit', {'id': thumbnail.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_thumbnail_new') }}">Create new</a>
{% endblock %}
