{% extends 'base.html.twig' %}

{% block title %}Type{% endblock %}

{% block body %}
    <h1>Détails du type {{ type.label }}</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ type.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ type.label }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_type_index') }}" class="btn btn-secondary">Retour</a>

    <a href="{{ path('app_type_edit', {'id': type.id}) }}" class="btn btn-primary">Modifier</a>

    {{ include('type/_delete_form.html.twig') }}
{% endblock %}
