{% extends 'base.html.twig' %}

{% block title %}Liste des énigmes{% endblock %}

{% block body %}
    <h1>Liste des énigmes</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ enigma.id }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ enigma.position }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ enigma.title }}</td>
            </tr>
            <tr>
                <th>Instruction</th>
                <td>{{ enigma.instruction }}</td>
            </tr>
            <tr>
                <th>Code secret</th>
                <td>{{ enigma.secretCode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_enigma_index') }}" class="btn btn-secondary">Retour à la liste</a>

    <a href="{{ path('app_enigma_edit', {'id': enigma.id}) }}" class="btn btn-primary">Modifier</a>

    {{ include('enigma/_delete_form.html.twig') }}
{% endblock %}
