{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Adresse mail</th>
                <th>Rôles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                        <span class="badge bg-secondary">{{ role }}</span>
                    {% else %}
                        <span class="badge bg-light text-dark">Aucun rôle</span>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}" class="text-secondary">Détails</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="text-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun utilisateur trouvé...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}" class="btn btn-primary">Nouvel utilisateur</a>
{% endblock %}
