{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Adresse mail</th>
                <th>Rôles</th>
                {% if is_granted('ROLE_ADMIN') %}
					<th>Actions</th>
				{% endif %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">Détails</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune équipe trouvée. Cliquez sur le bouton ci-dessous pour en créer une.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}" class="btn btn-primary">Nouvel utilisateur</a>
{% endblock %}
