{% extends 'base.html.twig' %}

{% block title %}Détails de l'utilisateur n°{{ user.id }}{% endblock %}

{% block body %}
    <h1><i class="bi bi-person"></i> Utilisateur : <u>{{ user.email|split('@')[0] }}</u></h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Adresse mail</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Rôles</th>
                <td>
                    {% for role in user.roles %}
                        <span class="badge bg-secondary">{{ role }}</span>
                    {% else %}
                        <span class="badge bg-light text-dark">Aucun rôle</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Mot de passe (haché)</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}" class="btn btn-secondary">Retour</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
